#	Add files you don't want to be tracked by git.

# Private files - marked by prefixing the file with 'prv_', eg "prv_passwords.txt"
prv_*
.idea/*
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
